HOST=127.0.0.1
PORT=8000
ENVIRONMENT=development

# MongoDB Atlas connection string and database name
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<db_name>?retryWrites=true&w=majority
DATABASE_NAME=agriconnect_db